
<!DOCTYPE html>
<html>
<head>
<title>h5服务</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="/css/index/web_style_011.css"/>
<script type="text/javascript" src="/js/index/zepto.min_012.js"></script>
<meta name="baidu-tc-cerfication" content="1a9e445a775791003197bbec228670ac" />
</head>
<body> 
<div class="wrap">
<div class="web-nav">
<a href="index.html">淘伴首页</a>
<span>
<a href="/login"> [登录]</a>
</span>
</div>
<div class="m-header">
<div class="m-logo">
<img src="/img/index/logo.gif" />
<a href="m/userLogin" class="qiandao">签到</a>
</div>
<div class="m-search">
<input id="keyword" name="keyword" type="text" class="input-tian" placeholder="请输入搜索关键字"/>
<input type="button" class="input-but" />
</div>
<div class="m-nav">
<a id="catalog" href="javascript:void(0);"><img src="/img/index/nav_icon01.png" /><i>全部分类</i></a>
<a href="m/huodong.html"><img src="/img/index/nav_icon03.png" /><i>促销活动</i></a>
<a href="m/haitao.html"><img src="/img/index/nav_icon02.png" /><i>海淘</i></a>
<a href="m/boon.html"><img src="/img/index/nav_icon04.png" /><i>淘福利</i></a>
<div class="zhixiang">◆</div>
</div>
<ul class="p-cat">
<li class="this-c" catid="0">全部分类</li>
<li catid="1">数码家电</li>
<li catid="2">电脑办公</li>
<li catid="3">个护化妆</li>
<li catid="4">母婴玩具</li>
<li catid="5">食品饮料</li>
<li catid="6">厨具家居</li>
<li catid="7">服饰鞋包</li>
<li catid="8">钟表珠宝</li>
<li catid="9">运动健康</li>
<li catid="10">图书音像</li>
<li catid="11">汽车用品</li>
</ul>
</div>
<div class="content-tab"><a href="javascript:void(0);" class="this-t">精华推荐</a><a href="javascript:void(0);">全部推荐</a></div>
<div class="tb-i-conter">
<a href="m/tuijian/zhengwen.html">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1379993596140_493.gif" alt="全网超值白菜价商品汇总【1月910日】"/></div>
<h2>全网超值白菜价商品汇总【1月910日】<i>12点汇总</i></h2>
<div class="tbi-drop-info">
<span>天猫商城</span>
<span class="cum-n-w">266</span>
<span class="tj-name">
淘伴网
</span>
</div>
</div>
</a>
<a href="m/tuijian/zhengwen.html">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/indedx/1389327067738_614.jpg" alt="Zippo 芝宝 打火机年货专场"/></div>
<h2>Zippo 芝宝 打火机年货专场<i>满200-40</i></h2>
<div class="tbi-drop-info">
<span>京东商城</span>
<span class="tj-name">
推荐人：JAY傲天
</span>
</div>
</div>
</a>
<a href="m/tuijian/zhengwen.html">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389325367629_806.jpg" alt="Delux 多彩 M618 有线垂直鼠标"/></div>
<h2>Delux 多彩 M618 有线垂直鼠标<i>￥72</i></h2>
<div class="tbi-drop-info">
<span>新蛋网</span>
<span class="tj-name">
推荐人：不能说的秘密
</span>
</div>
</div>
</a>
<a href="m/tuijian/zhengwen.html">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/u_6854_1389326429052_926.jpg" alt="Adonit蓝牙电容笔这么酷，你家里人知道么"/></div>
<h2>Adonit蓝牙电容笔这么酷，你家里人知道么<i>小苹果一不小心露脸了</i></h2>
<div class="tbi-drop-info">
<span>其他商城</span>
<span class="cum-n-w">2</span>
<span class="tj-name">
推荐人：甜圈圈
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31182">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389325817478_241.jpg" alt="Heinz 亨氏 营养辅食"/></div>
<h2>Heinz 亨氏 营养辅食<i>满99减21</i></h2>
<div class="tbi-drop-info">
<span>苏宁易购</span>
<span class="tj-name">
推荐人：谷雨
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31174">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389325264417_236.jpg" alt="Kurme 杏干200g*2盒 土耳其进口 "/></div>
<h2>Kurme 杏干200g*2盒 土耳其进口 <i>￥25</i></h2>
<div class="tbi-drop-info">
<span>京东商城</span>
<span class="tj-name">
推荐人：Joker祁
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31172">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389325097923_306.jpg" alt="LANEIGE 兰芝 夜间修护锁水面膜80ml "/></div>
<h2>LANEIGE 兰芝 夜间修护锁水面膜80ml <i>￥99包邮</i></h2>
<div class="tbi-drop-info">
<span>苏宁易购</span>
<span class="tj-name">
推荐人：傻孩子
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31164">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389324627783_359.png" alt="家电大满减"/></div>
<h2>家电大满减<i>满￥1999-100/2999-200/最高可减300</i></h2>
<div class="tbi-drop-info">
<span>京东商城</span>
<span class="tj-name">
推荐人：飞将军
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31159">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389324180331_970.jpg" alt="Walch 威露士 手洗专用洗衣液500ml "/></div>
<h2>Walch 威露士 手洗专用洗衣液500ml <i>￥4.9,5件起购</i></h2>
<div class="tbi-drop-info">
<span>1号店</span>
<span class="tj-name">
推荐人：zystone
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31146">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389323739209_679.jpg" alt="Baltika 波罗的海 雅士琥珀啤酒500ml*6听"/></div>
<h2>Baltika 波罗的海 雅士琥珀啤酒500ml*6听<i>￥29.9（部分地区无货）</i></h2>
<div class="tbi-drop-info">
<span>京东商城</span>
<span class="tj-name">
推荐人：杰之岛
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31151">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389323479221_517.jpg" alt="GLASSLOCK 三光云彩 钢化玻璃保鲜盒11件套组 "/></div>
<h2>GLASSLOCK 三光云彩 钢化玻璃保鲜盒11件套组 <i>￥139</i></h2>
<div class="tbi-drop-info">
<span>亚马逊</span>
<span class="tj-name">
推荐人：李晓
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31142">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/I/41zvPwx9XcL._SL160_.jpg" alt="Plantronics 缤特力 ML10 蓝牙耳机 "/></div>
<h2>Plantronics 缤特力 ML10 蓝牙耳机 <i>Z秒杀¥99包邮</i></h2>
<div class="tbi-drop-info">
<span>亚马逊</span>
<span class="tj-name">
推荐人：lfzjie
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31143">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389322168029_274.jpg" alt="Fisher Price 费雪 粉红娃娃小推车 N7571 彩色"/></div>
<h2>Fisher Price 费雪 粉红娃娃小推车 N7571 彩色<i>¥ 239包邮</i></h2>
<div class="tbi-drop-info">
<span>亚马逊</span>
<span class="tj-name">
推荐人：心安勿念
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31127">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389321770767_853.jpg" alt="潘婷 植物精萃盈润活力润发精华素180ML"/></div>
<h2>潘婷 植物精萃盈润活力润发精华素180ML<i>9元包邮</i></h2>
<div class="tbi-drop-info">
<span>苏宁易购</span>
<span class="tj-name">
推荐人：lfzjie
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31110">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389320543259_472.png" alt="服饰清仓季 "/></div>
<h2>服饰清仓季 <i>年末清仓 1折疯抢</i></h2>
<div class="tbi-drop-info">
<span>苏宁易购</span>
<span class="cum-n-w">2</span>
<span class="tj-name">
推荐人：天生购物狂
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31106">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389320005193_102.jpg" alt="淘宝云手机"/></div>
<h2>淘宝云手机<i>￥9秒杀</i></h2>
<div class="tbi-drop-info">
<span>天猫商城</span>
<span class="cum-n-w">1</span>
<span class="tj-name">
推荐人：谷雨
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31094">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389318905748_832.jpg" alt="LG G2 D802 WCDMA/GSM 智能手机（骁龙800/5.2寸/1080P/1300W/32G） "/></div>
<h2>LG G2 D802 WCDMA/GSM 智能手机（骁龙800/5.2寸/1080P/1300W/32G） <i>￥2949(2999-50)包邮,有赠品</i></h2>
<div class="tbi-drop-info">
<span>京东商城</span>
<span class="cum-n-w">1</span>
<span class="tj-name">
推荐人：杨梅
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31100">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389319443784_494.png" alt="大家电红包 "/></div>
<h2>大家电红包 <i>满￥1000-50/满2000-150/满3000-300</i></h2>
<div class="tbi-drop-info">
<span>京东商城</span>
<span class="tj-name">
推荐人：倾城
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31082">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389319357801_971.jpg" alt="Yellow Tail 黄尾袋鼠 梅洛干红葡萄酒 750ml,初品红酒首选"/></div>
<h2>Yellow Tail 黄尾袋鼠 梅洛干红葡萄酒 750ml,初品红酒首选<i>新蛋炸弹价￥65</i></h2>
<div class="tbi-drop-info">
<span>新蛋网</span>
<span class="tj-name">
推荐人：ljynet
</span>
</div>
</div>
</a>
<a href="m/tuijian/detail@id=31090">
<div class="tb-i-listc">
<div class="tb-i-cimg"><img src="/img/index/1389318603322_247.jpg" alt="SwissToblerone 瑞士三角 牛奶巧克力 50g"/></div>
<h2>SwissToblerone 瑞士三角 牛奶巧克力 50g<i>￥5元+10京豆</i></h2>
<div class="tbi-drop-info">
<span>京东商城</span>
<span class="cum-n-w">1</span>
<span class="tj-name">
推荐人：一醉自救
</span>
</div>
</div>
</a>
</div>
<div class="loading"></div>
<div class="gong-pige" >
<a href="javascript:void(0);" class="t-previous" style="opacity:0.5;">上一页</a>
<span>1 / 775</span>
<a href="javascript:void(0);" class="t-next" >下一页</a>
</div>
</div>
<div class="m-footer">
<a href="default.htm" class="m-home">淘伴首页</a>
<a href="../www.taoban.com/default.htm" class="m-home">电脑版</a>
<a href="javascript:void(0)">Copyright © 2013</a>
</div>
<img src="../hm.baidu.com/hm.gif@si=f9c0a8eb4bb32fef59b24e21029f5072&et=0&nv=1&st=1&v=wap-2-0.3&rnd=734558062" width="0" height="0" />
</body>
<script type="text/javascript">
var page = Number("1");
var totalPage = Number("775");
var type = "";
var catid = 0;
$("#catalog").bind("click",function(e){
if($(".zhixiang").css("display") == "none"){
$(".zhixiang").css("display","block");
$(".p-cat").css("display","block");
}else{
$(".zhixiang").css("display","none");
$(".p-cat").css("display","none");
}
});
//加载推荐内容
var loadRecommentData = function(url){
$(".wrap .tb-i-conter").empty();
$(".gong-pige").css("display","none");
$(".loading").css("display","block");
$.get(url, function(data){
var jsonData = eval('('+data+')');
var html = '';
for (var i=0 ;i < jsonData.informantList.length; i++){
var item = jsonData.informantList[i];
html = html + '<a href="m/tuijian/detail@id='+item.id+'">';
html = html + '<div class="tb-i-listc">';
html = html + '<div class="tb-i-cimg"><img src="/img/index/80-80-1/'+item.picUrl+'" alt=""/></div>';
html = html + '<h2>'+item.prodTitle+'<i>'+item.subtitle+'</i></h2>';
html = html + '<div class="tbi-drop-info">';
if(item.mallName != null && item.mallName != ""){
html = html + '<span>'+item.mallName+'</span>';
}
if(item.commentCount > 0){
html = html + '<span class="cum-n-w">'+item.commentCount+'</span>';
}
if(item.nickName != null && item.nickName != ""){
html = html + '<span class="tj-name">推荐人：'+item.nickName+'</span>';
}else{
html = html + '<span class="tj-name">淘伴网</span>';
}
html = html + '</div>';
html = html + '</div></a>';
}
$(".wrap .tb-i-conter").html(html);
page = Number(jsonData.pag.pageNo);
totalPage = Number(jsonData.pag.pageCount);
$(".loading").css("display","none");
$(".gong-pige span").text(page+" / "+totalPage);
if(totalPage == 1){
$(".gong-pige").css("display","none");
}else{
$(".gong-pige").css("display","block");
if(page == 1){
$(".gong-pige .t-previous").css("opacity", 0.5);
$(".gong-pige .t-next").css("opacity", 1);
}else if(page == totalPage){
$(".gong-pige .t-next").css("opacity", 0.5);
$(".gong-pige .t-previous").css("opacity", 1);
}else{
$(".gong-pige .t-next").css("opacity", 1);
$(".gong-pige .t-previous").css("opacity", 1);
}
}
});
};
$(".content-tab a").bind("click", function(e){
var index = $(this).index();
var url = "";
if(index == 0) {//精华推荐
url = "m/tuijian/ajaxIndex";
}else if(index == 1) {//全部推荐
url = "m/tuijian/ajaxIndex@type=deals";
type = "deals"; 
}
loadRecommentData(url);
$(this).siblings().removeClass("this-t");
$(this).addClass("this-t");
$(".p-cat li").removeClass("this-c");
$(".p-cat li").eq(0).addClass("this-c");
});
$(".gong-pige .t-previous").bind("click", function(e){
if ($(this).css("opacity") == 1){
var url = "";
if(type == "") {
url = "m/tuijian/ajaxIndex@page="+(page-1);
} else {
url = "m/tuijian/ajaxIndex@type="+type+"&page="+(page-1);
}
loadRecommentData(url);
}
});
$(".gong-pige .t-next").bind("click", function(e){
if ($(this).css("opacity") == 1){
var url = "";
if(type == "") {
url = "m/tuijian/ajaxIndex@page="+(page+1);
} else {
url = "m/tuijian/ajaxIndex@type="+type+"&page="+(page+1);
}
loadRecommentData(url);
}
});
$(".p-cat li").bind("click",function(e){
if($(this).attr("class") == "this-c"){
return;
}
catid = $(this).attr("catid");
if(type == "deals") {
url = "m/tuijian/ajaxIndex@type=deals&catId="+catid;
} else {
url = "m/tuijian/ajaxIndex@catId="+catid;
}
$(this).siblings().removeClass("this-c");
$(this).addClass("this-c");
$(".zhixiang").css("display","none");
$(".p-cat").css("display", "none");
loadRecommentData(url);
});
$(".input-but").bind("click",function(e){
var key = $("#keyword").val();
if(key.replace(/\ /g,"") == ""){
return;
}
var url = "m/tuijian/search@q="+key;
window.location = url;
});
window.scrollTo(0, 1);
</script>
</html>